*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/temp.html
/Interest.png
/Balance.png
/Pie.png
/InterestAndPrincipal.png


# temp

!freemarker.jar
!commons-lang3-3.4.jar
!slf4j-api-1.7.12.jar
!log4j-core-2.3.jar
!log4j-api-2.3.jar
!log4j-slf4j-impl-2.3.jar
!appbundler-1.0.jar

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio

#*.iml

## Directory-based project format:
#.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
 .idea/workspace.xml
 .idea/tasks.xml
 .idea/dictionaries
 .idea/misc.xml

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
 .idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
/src/com/gollahalli/web/WebApp.java
crashlytics-build.properties
JCal-log.log

crashlytics-build.properties

/dist
JCal.app

pie.png

JCal.properties

JCal/logs/JCal-log.log

JCal/Interest.png

JCal/InterestAndPrincipal.png

JCal/Balance.png

JCal/temp.html

/JCal/dist

JCal/build
test.java

JCal/nbproject/private/
JCal/build/
JCal/nbbuild/
JCal/dist/
JCal/nbdist/
JCal/nbactions.xml
JCal/.nb-gradle/

JCal/build/built-jar.properties

JCal/build/classes/JCal-gui.fxml

JCal/build/nb-jfx.jks

JCal/dist/JCal.html

JCal/dist/JCal.jnlp

JCal/dist/lib/commons-lang3-3.4.jar

JCal/dist/lib/freemarker.jar

JCal/dist/lib/log4j-api-2.3.jar

JCal/dist/lib/log4j-core-2.3.jar

JCal/dist/lib/log4j-slf4j-impl-2.3.jar

JCal/dist/lib/slf4j-api-1.7.12.jar
